body {
  padding: 0;
  margin: 0;
  font-family: "Andada Pro", sans-serif;
}

.app-wrapper {
  display: flex;
  justify-content: center;

  .app-home-layout {
    width: 740px;
    background-color: #545050;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .app-home-header {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      span {
        display: inline-block;
        font-size: 1rem;
      }
    }

    .app-home-content {
      padding: 0 1rem;
    }

    .app-home-footer {
      position: absolute;
      bottom: 0px;
      font-weight: lighter;
      font-size: 0.75rem;
      text-align: center;
      width: 100%;
    }
  }
}

.app-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main-door {
    display: flex;
    width: 30rem;
    height: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    div:first-child {
      letter-spacing: -1.1px;
      margin-bottom: -1.5rem;
    }
  }

  .sign-in-with-discord {
    cursor: pointer;
    box-shadow: 2.5px 2.5px 8px #505050;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 0px solid white;
    background: #383838;
    color: white;
    font-weight: bold;

    &::before {
      content: "";
      width: 70px;
      height: 60px;
      transform: scale(0.45);
      background: url("../image/Discord-Logo-White.svg") no-repeat;
    }
  }
}

.duties-search-option-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2rem;
  margin-bottom: 0.5rem;
  padding-right: 0.75rem;

  .detail-search-button {
    width: 2rem;
    height: 2rem;
    background: linear-gradient(0deg, #656565 50%, #b3b3b3);
    box-shadow: inset 0.05rem 0.05rem #d6d6d6;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      &::before {
        content: "";
        width: 30px;
        height: 30px;
        background-color: white;
        position: absolute;
        overflow: hidden;
        opacity: 0.2;
      }
    }
  }
}

.duties-wrapper {
  display: flex;
  justify-content: center;

  .duty-container {
    display: flex;
    flex-direction: column;
    margin: 0 0.125rem 0 0.125rem;
    width: 35px;
    height: 45px;
    background: #424242;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    padding-top: 0.1rem;

    &:first-child {
      margin-left: 0;
      width: 70px;
    }

    &:last-child {
      margin-right: 0;
      width: 70px;
    }

    .duty-count {
      display: inline-block;
      color: #ffeed9;
      font-size: 0.9rem;
      font-weight: lighter;
    }
  }
}

div[class^="duty-type-"] {
  box-shadow: inset 0.05rem 0.05rem #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  text-align: center;
  background: linear-gradient(0deg, #656565 50%, #b3b3b3);
  color: white;
  font-weight: lighter;
  font-size: 0.9rem;
  letter-spacing: -0.1rem;

  &.--clickable {
    cursor: pointer;

    &:hover {
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: white;
        position: absolute;
        overflow: hidden;
        opacity: 0.2;
      }
    }
  }

  &.--small {
    width: 20px;
    height: 20px;
  }

  &.--medium {
    width: 30px;
    height: 30px;

    &.--clickable {
      &:hover {
        &::before {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  &.--large {
    width: 40px;
    height: 40px;

    &.--clickable {
      &:hover {
        &::before {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  &.--selected {
    border: 1.5px solid #ffd067;
    background: linear-gradient(0deg, black 50%, #b3b3b3);
  }
}

.duty-type-all {
  width: 60px !important;

  &::before {
    width: 60px !important;
  }

  &::after {
    display: inline;
    content: "전체";
  }
}

.duty-type-roulette {
  background: url("../image/duties/Roulette.png") center center / 100% auto no-repeat !important;
}

.duty-type-dungeon {
  background: url("../image/duties/Dungeon.png") center center / 100% auto no-repeat !important;
}

.duty-type-guildhest {
  background: url("../image/duties/Guildhest.png") center center / 100% auto no-repeat !important;
}

.duty-type-trial {
  background: url("../image/duties/Trial.png") center center / 100% auto no-repeat !important;
}

.duty-type-raid {
  background: url("../image/duties/Raid.png") center center / 100% auto no-repeat !important;
}

.duty-type-high-endduties {
  background: url("../image/duties/High-endDuties.png") center center / 100% auto no-repeat !important;
}

.duty-type-pvp {
  background: url("../image/duties/PvP.png") center center / 100% auto no-repeat !important;
}

.duty-type-questbattle {
  background: url("../image/duties/QuestBattle.png") center center / 100% auto no-repeat !important;
}

.duty-type-fate {
  background: url("../image/duties/Fate.png") center center / 100% auto no-repeat !important;
}

.duty-type-treasurehunt {
  background: url("../image/duties/TreasureHunt.png") center center / 100% auto no-repeat !important;
}

.duty-type-hunt {
  background: url("../image/duties/Hunt.png") center center / 100% auto no-repeat !important;
}

.duty-type-disciplesoftheland {
  background: url("../image/duties/DisciplesOfTheLand.png") center center / 100% auto no-repeat !important;
}

.duty-type-palaceofthedead {
  background: url("../image/duties/PalaceOfTheDead.png") center center / 100% auto no-repeat !important;
}

.duty-type-eureka {
  background: url("../image/duties/Eureka.png") center center / 100% auto no-repeat !important;
}

.duty-type-etc {
  width: 60px !important;

  &::before {
    width: 60px !important;
  }

  &::after {
    display: inline;
    content: "기타";
  }
}

.parties-wrapper {
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  .parties {
    border-collapse: collapse;

    thead {
      th {
        border-bottom: 1px dashed #736e55;
        padding: 0.25rem 0;
        font-size: small;
        font-weight: normal;
        color: #9c977f;

        &:first-child {
          width: 5rem;
        }

        &:nth-child(2) {
          width: 30rem;
        }

        &:last-child {
          width: 10rem;
        }
      }
    }

    tbody {
      tr {
        cursor: pointer;

        &:nth-child(2n-1) {
          td {
            padding-top: 0.5rem;
            &:first-child {
              div[class^="duty-type-"] {
                margin: 0 auto;
              }
            }
          }
        }

        &:nth-child(2n) {
          .party-desc {
            span {
              display: inline-block;
              width: 40rem;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              font-size: 0.9rem;
              color: #bbbbbb;
              font-weight: lighter;
            }
          }
        }

        &:nth-child(4n-1),
        &:nth-child(4n-4) {
          background: #5f5f5f;
        }
      }

      .party-title {
        color: #5cb3ff;
      }

      .party-members {
        padding: 0 0.125rem;

        div[class^="role-"] {
          margin-right: 0.125rem;
        }
      }
    }
  }
}

.parties-paginatable {
  border-top: 1px dashed #736e55;
  border-bottom: 1px dashed #736e55;
  padding: 0.25rem 0;
  font-size: small;
  font-weight: normal;
  color: #9c977f;
  display: flex;
  align-items: center;
  justify-content: center;

  .left,
  .right {
    display: inline-block;
    margin: 0 0.5rem;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .left {
    border-width: 15px 30px 15px 0;
    border-color: transparent #736e55 transparent transparent;

    &.--selectable {
      cursor: pointer;
      border-color: transparent #fff5c5 transparent transparent;

      &:hover {
        border-color: transparent white transparent transparent;
      }
    }
  }

  .right {
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent #736e55;

    &.--selectable {
      cursor: pointer;
      border-color: transparent transparent transparent #fff5c5;

      &:hover {
        border-color: transparent transparent transparent white;
      }
    }
  }

  .current-item-range {
    display: inline-block;
    margin: 0.5rem;
    position: absolute;
    right: 0.5rem;

    span {
      display: inline-block;
      font-weight: bold;
      font-size: 1rem;
      color: #ffe9c0;
      text-shadow: 0 0 1px orange;
    }
  }
}

.party-buttons {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .party-register-button {
    display: flex;
    width: 11rem;
    height: 2rem;
    border-radius: 1rem;
    background: linear-gradient(0deg, #88734e 50%, #ffd400);
    box-shadow: inset 0rem 0.1rem 0.3rem #fffef4;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    text-shadow: 0 0 3px #3c3200;
    cursor: pointer;

    &:hover {
      &::before {
        content: "";
        width: 11rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: white;
        position: absolute;
        overflow: hidden;
        opacity: 0.2;
      }
    }
  }

  .parties-status-wrapper {
    display: flex;
    align-items: center;

    .parties-refresh-button {
      margin-right: 0.25rem;
      width: 1.5rem;
      height: 1.5rem;
      background: linear-gradient(0deg, #656565 50%, #b3b3b3);
      box-shadow: inset 0.025rem 0.1rem #d6d6d6;
      border-radius: 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #d2d2d2;
      font-weight: 100;
      font-size: 1.3rem;

      &:hover {
        &::before {
          content: "";
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 1rem;
          background-color: white;
          position: absolute;
          overflow: hidden;
          opacity: 0.2;
        }
      }
    }

    .parties-count-info {
      background: #424242;
      border-radius: 0.25rem;
      padding: 0.125rem 0.5rem;
      color: white;
      font-weight: lighter;
    }
  }
}

div[class^="role-"] {
  width: 0.85rem;
  height: 1.25rem;
  border-radius: 0.2rem;
  display: inline-block;

  &.role-tanker {
    background: #4139bb;
  }

  &.role-healer {
    background: #548824;
  }

  &.role-dealer {
    background: #8c2e2e;
  }
}

.select-dropdown {
  .selected {
    display: flex;
    background: linear-gradient(0deg, #656565 50%, #b3b3b3);
    box-shadow: inset 0.05rem 0.05rem #d6d6d6;
    width: 11rem;
    border-radius: 1rem;
    padding: 0.125rem 0.5rem;
    color: white;
    font-weight: lighter;
    font-size: 0.9rem;
    cursor: pointer;

    &::before {
      content: "▶";
      display: inline-block;
      margin-right: 0.125rem;
    }
  }

  &.--open {
    .selected {
      &::before {
        content: "▼";
        display: inline-block;
        margin-right: 0.125rem;
      }
    }
  }

  .dropdown-list {
    margin-left: 0.5rem;
    width: 15rem;
    padding: 0.5rem;
    border-top: 1px solid #929292;
    border-radius: 0.125rem;
    background: #696363;
    box-shadow: 0rem 0.15rem 4px 1px #3c3c3c;

    .item-container {
      display: flex;
      cursor: pointer;

      &:hover {
        .item-name {
          background: linear-gradient(90deg, #312c2c 30%, #ffffff00);
          border-radius: 1rem;
        }
      }

      &.--selected {
        .item-name {
          background: linear-gradient(90deg, #866f57 30%, #ffffff00);
          border-radius: 1rem;
        }
      }

      .item-name {
        padding-left: 0.5rem;
        width: 100%;
        color: #ffe3a2;
        font-weight: lighter;
        font-size: 0.9rem;
      }
    }
  }
}

.duty-find-register-wrapper {
  .header {
    background: #313131;
    color: #ffdb99;
    font-weight: lighter;
    padding: 0.2rem 0.5rem;
    border-radius: 0.75rem;
    margin-bottom: 0.125rem;
  }

  .title {
    color: #d29c39;
    padding-left: 0.5rem;
    border-bottom: 1px solid #6d6d6d;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    font-weight: lighter;
  }

  .find-content {
    .duty-category {
      .empty-duty-icon {
        width: 20px;
        height: 20px;
      }

      .selected {
        div {
          margin-right: 0.25rem;
        }
      }
    }
  }
}
