body {
  padding: 0;
  margin: 0;
  font-family: "Andada Pro", sans-serif;
}

.app-wrapper {
  display: flex;
  justify-content: center;

  .app-home-layout {
    min-width: 600px;
    background-color: #dadada;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .app-header {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: inline-block;
        font-size: 1rem;
      }
    }

    .app-footer {
      position: absolute;
      bottom: 0px;
      font-weight: lighter;
      font-size: 0.75rem;
      text-align: center;
      width: 100%;
    }
  }
}

.app-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main-door {
    display: flex;
    width: 30rem;
    height: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    div:first-child {
      letter-spacing: -1.1px;
      margin-bottom: -1.5rem;
    }

    div:last-child {
    }
  }

  .sign-in-with-discord {
    cursor: pointer;
    box-shadow: 2.5px 2.5px 8px #505050;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 0px solid white;
    background: #383838;
    color: white;
    font-weight: bold;

    &::before {
      content: "";
      width: 70px;
      height: 60px;
      transform: scale(0.45);
      background: url("../image/Discord-Logo-White.svg") no-repeat;
    }
  }
}
